<div class="editor-page">
  <div class="container">
    <div class="col-md-10 mx-auto">
      <errormsg *ngIf="errors" [backendErrors]="errors"></errormsg>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-2 article-form">
          <h3 class="text-center my-4">Write your article</h3>
<!--        <div class="mb-3">-->
<!--            <input type="file" id="actual-btn" accept="image/*" formControlName="thumbnail" (change)="onFileSelected($event)" hidden/>-->
<!--            <label for="actual-btn" id="file-label">Choose File</label>-->
<!--            <span id="file-chosen">No file chosen</span>-->
<!--        </div>-->

<!--          <div class="my-2">-->
<!--            <img [src]="preview" class="preview" *ngIf="preview" alt="preview">-->
<!--          </div>-->
<!--        File Upload ends here -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
        <div class="mb-3">
          <angular-editor id="content" formControlName="body" [config]="config"></angular-editor>
        </div>
        <div class="mb-3">
          <label for="taglist" class="form-label">Tags</label>
          <input type="text" class="form-control" id="taglist" formControlName="tagList">
        </div>

        <div class="mb-3">
        <button class="btn submit-btn" [disabled]="form.invalid || isSubmitting">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
