<ng-container *ngIf="data$ | async as data">
  <div class="col-md-10 mx-auto">
    <div class="container" *ngIf="data.article">
      <div class="col-md-10 mx-auto">
        <!--           Thumbnail -->
        <div class="thumbnail">
<!--          <img src="assets/images/no-photo.jpg" alt="">-->
          <img [src]="data.article.image" alt="">
          <div class="overlay">
            <div class="content">
              <div class="author-date d-flex mt-auto">
                <div class="author-detail mb-4">
                  <a class="avatar" [routerLink]="['/profiles', data.article.author.username]">
                    <img [src]="data.article.author.image" alt="">
                  </a>
                  <a [routerLink]="['/profiles', data.article.author.username]">{{ data.article.author.username}}</a>
                  <span class="spacer"></span>
                  <a class="date">{{ data.article.createdAt | date: 'dd MMM YYYY'}}</a>
                  <ng-container *ngIf="data.isAuthor">
                    <span class="spacer"></span>
                    <a [routerLink]="['/articles', data.article.slug, 'edit']"><i class="bi bi-pencil-square"></i> Edit</a>
                    <span class="spacer"></span>
                    <button class="delete-btn" (click)="deleteArticle()"><i class="bi bi-trash"></i> Delete</button>
                  </ng-container>

                </div>
              </div>
              <div class="title">
                <h4>{{ data.article.title }}</h4>
              </div>
              <div class="tags">
                <taglist [tags]="data.article.tagList"></taglist>
              </div>
            </div>
          </div>
        </div>
        <!--           Thumbnail -->

        <div class="body-text mb-4">
          <loading *ngIf="data.isLoading"></loading>
          <errormessage *ngIf="data.error"></errormessage>
          {{ data.article.body | stripTags }}
        </div>
      </div>
    </div>
  </div>
</ng-container>
