<ng-container *ngIf="data$ | async as data">
  <div class="col-md-10 mx-auto">
    <div class="container" *ngIf="data.article">
      <div class="col-md-10 mx-auto">
        <!--           Thumbnail -->
        <div class="thumbnail">
<!--          <img src="assets/images/no-photo.jpg" alt="">-->
          <img [src]="data.article.image" alt="">
          <div class="overlay">
            <div class="content">
              <div class="author-date d-flex mt-auto">
                <div class="author-detail mb-4">
                  <a class="avatar" [routerLink]="['/profiles', data.article.author.username]">
                    <img [src]="data.article.author.image" alt="">
                  </a>
                  <a [routerLink]="['/profiles', data.article.author.username]">{{ data.article.author.username}}</a>
                  <span class="spacer"></span>
                  <a class="date">{{ data.article.createdAt | date: 'dd MMM YYYY'}}</a>
                  <ng-container *ngIf="data.isAuthor">
                    <span class="spacer"></span>
                    <a [routerLink]="['/articles', data.article.slug, 'edit']"><i class="bi bi-pencil-square"></i> Edit</a>
                    <span class="spacer"></span>
                    <button class="delete-btn" (click)="deleteArticle()"><i class="bi bi-trash"></i> Delete</button>
                  </ng-container>

                </div>
              </div>
              <div class="title">
                <h4>{{ data.article.title }}</h4>
              </div>
              <div class="tags">
                <taglist [tags]="data.article.tagList"></taglist>
              </div>
            </div>
          </div>
        </div>
        <!--           Thumbnail -->

        <div class="body-text mb-4">
          <loading *ngIf="data.isLoading"></loading>
          <errormessage *ngIf="data.error"></errormessage>
          {{ data.article.body | stripTags }}
        </div>

        <div class="comments-body">
          <div class="main-comment">
            <div class="comment-box d-flex gap-2">
              <div class="avatar-box">
                <div class="avatar">
                  <img src="assets/images/avatar.png" alt="">
                </div>
              </div>
              <div class="comment">
                <h6>Username <span class="spacer"></span> 7 mins ago</h6>
                <p>Adipisci assumenda ipsam mollitia nam natus pariatur possimus praesentium repellendus sed.
                </p>
                <div class="reactions w-100">
                  <button type="button" class="like-btn me-2 btn-sm">
                    <i class="bi bi-heart"></i>
                  </button>
                  <button type="button" class="reply-trigger"><i class="bi bi-reply me-1"></i>Reply</button>
                  <button type="button" class="reply-toggle ps-3"><i class="bi bi-eye"></i> Replies</button>
                  <button type="button" class="likes-count">46 likes</button>
                  <button type="button" class="reply-count">23 Replies</button>
                </div>
                <!--                           <div class="reply-box my-2">-->
                <!--                               <textarea name="reply" id="" class="w-100 bg-transparent" placeholder="Reply" aria-label=""></textarea>-->
                <!--                               <button class="reply-button btn btn-sm px-4 my-3">Reply</button>-->
                <!--                           </div>-->
              </div>
            </div>

            <!--                   Reply to main comment-->
            <div class="reply-to-main-comment ms-auto">
              <div class="comment-box d-flex gap-2">
                <div class="avatar-box">
                  <div class="avatar">
                    <img src="assets/images/avatar.png" alt="">
                  </div>
                </div>
                <div class="comment">
                  <h6>Username <span class="spacer"></span> 3 mins ago</h6>
                  <p>Adipisci assumenda ipsam mollitia nam natus pariatur possimus praesentium repellendus sed.
                  </p>
                  <div class="reactions w-100">
                    <button type="button" class="like-btn me-2 btn-sm">
                      <i class="bi bi-heart"></i>
                    </button>
                    <button type="button" class="reply-trigger"><i class="bi bi-reply me-1"></i>Reply</button>
                    <button type="button" class="reply-toggle ps-3"><i class="bi bi-eye"></i> Replies</button>
                    <button type="button" class="likes-count">46 likes</button>
                    <button type="button" class="reply-count">23 Replies</button>
                  </div>
                  <div class="reply-box my-2">
                    <textarea name="reply" class="w-100 bg-transparent" placeholder="Reply to this comment" aria-label=""></textarea>
                    <button class="reply-button btn btn-sm px-4 my-3">Reply</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="reply-to-main-comment ms-auto">
              <div class="comment-box d-flex gap-2">
                <div class="avatar-box">
                  <div class="avatar">
                    <img src="assets/images/avatar.png" alt="">
                  </div>
                </div>
                <div class="comment">
                  <h6>Username <span class="spacer"></span> 2 mins ago</h6>
                  <p>Adipisci assumenda ipsam mollitia nam natus pariatur possimus praesentium repellendus sed.
                  </p>
                  <div class="reactions w-100">
                    <button type="button" class="like-btn me-2 btn-sm">
                      <i class="bi bi-heart"></i>
                    </button>
                    <button type="button" class="reply-trigger"><i class="bi bi-reply me-1"></i>Reply</button>
                    <button type="button" class="reply-toggle ps-3"><i class="bi bi-eye"></i> Replies</button>
                    <button type="button" class="likes-count">46 likes</button>
                    <button type="button" class="reply-count">23 Replies</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="main-comment">
            <div class="comment-box d-flex gap-2">
              <div class="avatar-box">
                <div class="avatar">
                  <img src="assets/images/avatar.png" alt="">
                </div>
              </div>
              <div class="comment">
                <h6>Username <span class="spacer"></span> 4 mins ago</h6>
                <p>Adipisci assumenda ipsam mollitia nam natus pariatur possimus praesentium repellendus sed.
                </p>
                <div class="reactions w-100">
                  <button type="button" class="like-btn me-2 btn-sm">
                    <i class="bi bi-heart"></i>
                  </button>
                  <button type="button" class="reply-trigger"><i class="bi bi-reply me-1"></i>Reply</button>
                  <button type="button" class="reply-toggle ps-3"><i class="bi bi-eye"></i> Replies</button>
                  <button type="button" class="likes-count">46 likes</button>
                  <button type="button" class="reply-count">23 Replies</button>
                </div>
              </div>
            </div>

            <!--                   Reply to main comment-->
            <div class="reply-to-main-comment ms-auto">
              <div class="comment-box d-flex gap-2">
                <div class="avatar-box">
                  <div class="avatar">
                    <img src="assets/images/avatar.png" alt="">
                  </div>
                </div>
                <div class="comment">
                  <h6>Username <span class="spacer"></span> 2 mins ago</h6>
                  <p>Adipisci assumenda ipsam mollitia nam natus pariatur possimus praesentium repellendus sed.
                  </p>
                  <div class="reactions w-100">
                    <button type="button" class="like-btn me-2 btn-sm">
                      <i class="bi bi-heart"></i>
                    </button>
                    <button type="button" class="reply-trigger"><i class="bi bi-reply me-1"></i>Reply</button>
                    <button type="button" class="reply-toggle ps-3"><i class="bi bi-eye"></i> Replies</button>
                    <button type="button" class="likes-count">46 likes</button>
                    <button type="button" class="reply-count">23 Replies</button>
                  </div>
                  <div class="reply-box my-2">
                    <textarea name="reply" class="w-100 bg-transparent" placeholder="Reply to this comment" aria-label=""></textarea>
                    <button class="reply-button btn btn-sm px-4 my-3">Reply</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="reply-to-main-comment ms-auto">
              <div class="comment-box d-flex gap-2">
                <div class="avatar-box">
                  <div class="avatar">
                    <img src="assets/images/avatar.png" alt="">
                  </div>
                </div>
                <div class="comment">
                  <h6>Username <span class="spacer"></span> 1 min ago</h6>
                  <p>Adipisci assumenda ipsam mollitia nam natus pariatur possimus praesentium repellendus sed.
                  </p>
                  <div class="reactions w-100">
                    <button type="button" class="like-btn me-2 btn-sm">
                      <i class="bi bi-heart"></i>
                    </button>
                    <button type="button" class="reply-trigger"><i class="bi bi-reply me-1"></i>Reply</button>
                    <button type="button" class="reply-toggle ps-3"><i class="bi bi-eye"></i> Replies</button>
                    <button type="button" class="likes-count">46 likes</button>
                    <button type="button" class="reply-count">23 Replies</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>

        </div>
        <div class="new-comment my-5">
          <h5>Leave a comment</h5>
          <div class="new-comment-box my-2">
            <textarea name="reply" id="" class="w-100 bg-transparent" placeholder="Write your comment" aria-label=""></textarea>
            <button class="reply-button btn btn-sm px-4 mt-3">Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
