<div class="auth_wrapper" *ngIf="data$ | async as data">
  <div class="formBox">
    <form [formGroup]="signInForm" (ngSubmit)="submitForm()">
      <h2>Sign In</h2>
      <errormsg *ngIf="data.backendErrors" [backendErrors]="data.backendErrors"></errormsg>
      <input autocomplete="false" name="hidden" type="text" style="display:none;">
      <div class="input-box mt-5">
        <input type="text" class="form-input bg-transparent" formControlName="email" id="email" placeholder=""
               [ngClass]="{error : getControl('email')?.errors && getControl('email')?.touched}">
        <label class="input-label">Email</label>
        <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
          <small class="errorMsg" *ngIf="getControl('email')?.errors?.['required']">Email is required</small>
          <small class="text-danger" *ngIf="getControl('email')?.errors?.['maxlength']">Email should be maximum 32 characters long.</small>
          <small class="errorMsg" *ngIf="getControl('email')?.errors?.['pattern']">Please enter a valid email.</small>
        </div>
      </div>
      <div class="input-box">
        <input [type]="showPassword ? 'text':'password'" class="form-input bg-transparent" formControlName="password" id="password" placeholder="" [ngClass]="{error : getControl('password')?.errors && getControl('password')?.touched}">
        <label class="input-label">Password</label>
        <i class="bi bi-eye" (click)="toggleShow()" *ngIf="!showPassword"></i>
        <i class="bi bi-eye-slash" (click)="toggleShow()" *ngIf="showPassword"></i>
        <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
          <small class="errorMsg" *ngIf="getControl('password')?.errors?.['required']">Password is required</small>
          <small class="errorMsg" *ngIf="getControl('password')?.errors?.['minlength']">Password must be at least 8 characters long.</small>
        </div>
      </div>

      <div class="remember-me mt-3">
        <p>Don't have an account? <a routerLink="/signup">here</a></p>
        <a routerLink="/request-password">Forgot password</a>
      </div>
      <button class="btn ripple-effect px-5" [disabled]="signInForm.status === 'INVALID'">Login</button>
    </form>
  </div>
</div>

