@import "../node_modules/font-awesome/css/font-awesome.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fs-xl: 3rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: .8rem;
  --fs-300: .9rem;
}

@media(prefers-color-scheme: light) {
  :root {
    --body-bg-color: #fefefe;
    --primary-color: #21364c;
    --secondary-color: #8391a3;
    --tertiary-color: #335274;
    --neutral-color: #4e84c0;
    --white-color: #fff;
    --line-color: #d7d7d7;

    --second-color: hsl(215, 33%, 20%);
    --third-color: #777;
    --hover-color: #2f5175;
  }
}
@media(prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #0f111a;
    --primary-color: #68d0dd;
    --secondary-color: #76c0b8;
    --tertiary-color: #dde4e6;
    --neutral-color: #4e84c0;
    --white-color: #fff;
    --line-color: #454f6b;

    --second-color: hsl(215, 33%, 20%);
    --third-color: #a9afc3;
    --hover-color: #2f5175;
  }
}
[color-scheme="dark"] {
  --body-bg-color: #0f111a;
  --primary-color: #68d0dd;
  --secondary-color: #76c0b8;
  --tertiary-color: #dde4e6;
  --neutral-color: #4e84c0;
  --white-color: #fff;
  --line-color: #454f6b;

  --second-color: hsl(215, 33%, 20%);
  --third-color: #a9afc3;
  --hover-color: #2f5175;
}
[color-scheme="light"] {
  --body-bg-color: #fefefe;
  --primary-color: #21364c;
  --secondary-color: #8391a3;
  --tertiary-color: #335274;
  --neutral-color: #4e84c0;
  --white-color: #fff;
  --line-color: #d7d7d7;

  --second-color: hsl(215, 33%, 20%);
  --third-color: #777;
  --hover-color: #2f5175;
}
/* When screen is 40em or more in width */
@media ( width >= 40em ) {
:root {
  --fs-xl: 5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-300: 1rem;
}
}

body {
  background: var(--body-bg-color);
}
::-webkit-scrollbar{
  width: 8px;
  background-color: var(--white-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--body-bg-color);
  border-radius: 50px;
  box-shadow: 0 0 6px 2px rgba(255, 255, 255, 0.5) inset;
}

h1, h2, h3, h4, h5, h6, .heading, .title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: var(--primary-color);
}
p, small, span, button, .btn, .badge, ul, li, a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--tertiary-color);
}
h1 {
  font-size: var(--fs-xl);
}
h3 {
  font-size: var(--fs-500);
}
h4 {
  font-size: var(--fs-300);
}
h5 {
  font-size: var(--fs-400);
}
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
a, a:hover {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
.mt-8 {
  margin-top: 8rem;
}
.spacer {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50%;
  background: var(--primary-color);
}
body {
  font-size: var(--fs-400);
  line-height: 1.6;
}
button, .btn {
  background: var(--primary-color);
  color: var(--body-bg-color);
  border-radius: 25px;
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 14px;
}

.btn:disabled:hover,
button:disabled:hover {
  cursor: not-allowed !important;
}
button:hover, .btn:hover {
  background-color: var(--hover-color);
}
.card {
  background: var(--white-color);
  border: none !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  border-radius: 8px;
}

/* AuthInterceptor Styling*/
main {
  min-height: 100svh;
}
.auth_wrapper {
  position: absolute;
  width: 100%;
  max-width: 360px;
  height: 410px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
#signup_wrapper {
  height: 460px;
}

#signup_wrapper form {
  position: relative;
}
.formBox .errorBox,
#signup_wrapper .errorBox {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--body-bg-color);
  width: 300px;
}
#signup_wrapper .errorBox {
  top: 3.5rem;
}
.auth_wrapper:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}
.auth_wrapper .formBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.formBox h2 {
  text-align: center;
  font-size: 35px;
}
.formBox .input-box {
  width: 340px;
  height: 44px;
  margin: 25px 0;
  position: relative;
}
.input-box .form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none !important;
  outline: none;
  font-size: 1rem;
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  z-index: 1;
  padding: 1rem;
}

.profile-form .form-control.error,
.input-box .form-input.error {
  border: 1px solid red;
}

.input-box .input-label {
  position: absolute;
  top: .4rem;
  left: 1rem;
  padding: .25rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  transition: .3s ease;
  background: var(--body-bg-color);
}
.input-box i {
  position: absolute;
  right: 1rem;
  top: .5rem;
  z-index: 3;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--tertiary-color);
}
.form-input:focus + .input-label {
  top: -.9rem;
  left: .8rem;
  font-size: .75rem;
  font-weight: 500;
  z-index: 10;
  color: var(--primary-color);
}
.form-input:not(:placeholder-shown).form-input:not(:focus)+ .input-label {
  top: -.9rem;
  left: .8rem;
  font-size: .75rem;
  font-weight: 500;
  z-index: 10;
}
.form-input:focus {
  border-color: var(--secondary-color);
}
.remember-me {
  font-size: 14px;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-me label input {
  accent-color: var(--tertiary-color);
  margin-right: 5px;
}
.remember-me a {
  color: var(--neutral-color);
}
.formBox form button.submit-btn{
  background: var(--primary-color) !important;
  width: 100%;
  height: 44px;
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: var(--neutral-color);
  font-weight: 500;
  letter-spacing: 2px;
}
.signup {
  font-size: 14px;
  text-align: center;
  margin: 25px;
}
.signup p a {
  color: var(--neutral-color);
  font-weight: 600;
}
.signup p a:hover {
  color: var(--tertiary-color);
}

.input-box .errorMsg {
  font-size: 11px;
  position: absolute;
  bottom: -1.2rem;
  left: 0;
  color: red;
  z-index: 11;
}
.profile-form .errorMsg {
  font-size: 11px;
  color: red;
  z-index: 11;
}
/* AuthInterceptor styling ended here */
nav.navbar {
  background: var(--body-bg-color);
}
nav .navbar-collapse .navbar-nav > li > a {
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--tertiary-color);
}
nav .navbar-collapse .navbar-nav > li > a.active,
nav .navbar-collapse .navbar-nav > li > a:hover {
  color: var(--neutral-color);
}
nav .container {
  border-bottom: 2px solid #eee;
  padding-bottom: .4rem;
}
.avatar-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #eee;
  overflow: hidden;
}
.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav .navbar-collapse .auth-column li a {
  font-weight: 600;
}
nav button.navbar-toggler {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
nav button.navbar-toggler:focus {
  background: transparent !important;
}
.theme-btn {
  z-index: 1024;
  position: fixed;
  right: 0;
  top: 100px;
  width: 35px;
  height: 35px;
  background: #102d35;
  backdrop-filter: blur(20px);
  border-radius: 5px 0 0 5px;
  /*box-shadow: var(--box-shadow);*/
  cursor: pointer;
  transition: all .5s;
  color: #fff;
  display: grid;
  place-content: center;
}
.theme-btn i {
  color: var(--white-color);
}
.blog-nugget {
  margin: 1.5rem auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border-radius: 10px;
}
.blog-nugget .image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.blog-nugget .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-nugget .detail .author-detail {
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
  align-items: center;
}
.blog-nugget .detail {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-nugget .detail .author-name,
.blog-nugget .detail .category,
.blog-nugget .detail .date {
  font-size: var(--fs-400);
  font-weight: 600;
  color: var(--neutral-color);
}
.blog-nugget .detail a h4:hover {
  color: var(--hover-color) !important;
}
.widget {
  border: 1px solid #ebebeb;
  padding: 20px 10px;
  margin-bottom: 40px;
}
.widget:last-child {
  margin-bottom: 0;
}
.widget .widget-header {
  margin-bottom: 30px;
}
.widget .widget-title {
  font-size: 20px;
  margin: 0;
}
.tag {
  color: #8f9bad;
  border: 1px solid #8f9bad;
  border-radius: 25px;
  font-size: 11px;
  display: inline-block;
  padding: 2px 10px;
  margin: 4px;
  cursor: pointer;
}
.tag:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.like-btn {
  outline: none;
  background:transparent !important;
  border: none !important;
  padding: 3px 10px;
  box-shadow: none;
  font-size: var(--fs-300);
  transition: .2s ease;
}
.like-btn:hover {
  opacity: .8;
}
.btn-liked i {
  color: red;
}
.btn-unliked i {
  color: var(--secondary-color);
}
/* Pagination Styling */
.pagination-container {
  margin: 100px auto;
  text-align: center;
}
.pagination {
  position: relative;
}
.pagination a {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: var(--fs-400);
  padding: 8px 16px 10px;
}
.pagination a:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2c3e50;
  border-radius: 24px;
  transform: scale(0);
  transition: all 0.2s;
}
.pagination a:hover,
.pagination a .active {
  color: var(--white-color);
}
.pagination a:hover:before,
.pagination a .active:before {
  transform: scale(1);
}
.pagination .active {
  color: var(--white-color);
}
.pagination .active:before {
  transform: scale(1);
}
/* Feed toggler styling */
.feed-toggle-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 1rem;
}

.feed-toggle-links .feed-link {
  width: 100%;
  text-align: center;
}
.feed-toggle-links .feed-link .feed-link-item {
  width: 100%;
  display: inline-block;
  padding: 3px 10px;
  border-bottom: 1px solid #8f9bad;
  color: #8f9bad;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.feed-toggle-links .feed-link .feed-link-item:hover,
.feed-toggle-links .feed-link .feed-link-item.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color) !important;
}
/* Blog page */
.thumbnail {
  margin: 8rem auto 4rem;
  width: 100%;
  height: 60svh;
  position: relative;
}
.thumbnail .avatar {
  width:  40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .6) 70%);
  padding: 1rem;
}
.thumbnail .overlay .content {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  width: 100%;
}
.author-detail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.author-detail .avatar {
  border-radius: 50%;
  overflow: hidden;
}
.author-detail a {
  color: var(--white-color);
  font-weight: 500;
}
.author-detail .delete-btn {
  background: transparent;
  border: none;
  box-shadow: none;
  color: red;
}
.thumbnail .author-date .spacer {
  background: var(--white-color);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  margin: 2px 5px;
}
.thumbnail .author-date h6 {
  font-size: .7rem;
  letter-spacing: 1px;
  color: var(--white-color);
}
.thumbnail .title h4 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--white-color);
}

@media (width <= 768px) {
  .blob {
    max-width: 300px;
    max-height: 300px;
    margin: 3rem auto;
  }
}
/* Blog page */
/* Editor Page */
.editor-page {
  margin-top: 8rem;
}
.editor-page label#file-label {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.article-form #content button {
  box-shadow: none;
  color: var(--primary-color);
}
.article-form textarea,
.article-form input {
  outline: none;
  box-shadow: none !important;
  border: 1px solid var(--tertiary-color);
  background: transparent !important;
  resize: none !important;
}
.article-form label {
  font-size: var(--fs-400);
  color: var(--primary-color);
  font-weight: 500;
}
.article-form button {
  padding: 5px 25px;
  transition: .25s ease;
}
.article-form button:hover {
  background: var(--secondary-color);
}
.preview {
  max-width: 200px;
}
.body-text {
  color: var(--primary-color);
}

/* Profile page */
.profile-form input,
.profile-form textarea {
  border: 1px solid var(--primary-color);
  outline: none !important;
  box-shadow: none !important;
}
/* Profile Page styling*/
.profile-header {
  position: relative;
  overflow: hidden
}

.profile-header .profile-header-cover {
  background-image: url(assets/images/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}

.profile-header .profile-header-cover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
}

.profile-header .profile-header-content {
  color: var(--white-color);
  padding: 25px
}

.profile-header-img {
  float: left;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 0 0 -20px;
  padding: 3px;
  border-radius: 50%;
  background: var(--white-color)
}

.profile-header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-header-info h4 {
  font-size: var(--fs-500);
  color: var(--white-color)
}

.profile-header-img+.profile-header-info {
  margin-left: 140px
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
  position: relative
}

.b-minus-1,
.b-minus-10,
.b-minus-2,
.b-minus-3,
.b-minus-4,
.b-minus-5,
.b-minus-6,
.b-minus-7,
.b-minus-8,
.b-minus-9,
.b-plus-1,
.b-plus-10,
.b-plus-2,
.b-plus-3,
.b-plus-4,
.b-plus-5,
.b-plus-6,
.b-plus-7,
.b-plus-8,
.b-plus-9,
.l-minus-1,
.l-minus-2,
.l-minus-3,
.l-minus-4,
.l-minus-5,
.l-minus-6,
.l-minus-7,
.l-minus-8,
.l-minus-9,
.l-plus-1,
.l-plus-10,
.l-plus-2,
.l-plus-3,
.l-plus-4,
.l-plus-5,
.l-plus-6,
.l-plus-7,
.l-plus-8,
.l-plus-9,
.r-minus-1,
.r-minus-10,
.r-minus-2,
.r-minus-3,
.r-minus-4,
.r-minus-5,
.r-minus-6,
.r-minus-7,
.r-minus-8,
.r-minus-9,
.r-plus-1,
.r-plus-10,
.r-plus-2,
.r-plus-3,
.r-plus-4,
.r-plus-5,
.r-plus-6,
.r-plus-7,
.r-plus-8,
.r-plus-9,
.t-minus-1,
.t-minus-10,
.t-minus-2,
.t-minus-3,
.t-minus-4,
.t-minus-5,
.t-minus-6,
.t-minus-7,
.t-minus-8,
.t-minus-9,
.t-plus-1,
.t-plus-10,
.t-plus-2,
.t-plus-3,
.t-plus-4,
.t-plus-5,
.t-plus-6,
.t-plus-7,
.t-plus-8,
.t-plus-9 {
  position: relative!important
}

.profile-header .profile-header-tab {
  background: var(--white-color);
  list-style-type: none;
  margin: -10px 0 0;
  padding: 0 0 0 140px;
  white-space: nowrap;
  border-radius: 0
}

.text-ellipsis,
.text-nowrap {
  white-space: nowrap!important
}

.profile-header .profile-header-tab>li {
  display: inline-block;
  margin: 0
}

.profile-header .profile-header-tab>li>a {
  display: block;
  color: #929ba1;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  border: none
}

.profile-header .profile-header-tab>li.active>a,
.profile-header .profile-header-tab>li>a.active {
  color: #242a30
}

.profile-content {
  padding: 25px;
  border-radius: 4px
}

.profile-content:after,
.profile-content:before {
  content: '';
  display: table;
  clear: both
}

.profile-content .tab-content,
.profile-content .tab-pane {
  background: 0 0
}

.profile-left {
  width: 200px;
  float: left
}

.profile-right {
  margin-left: 240px;
  padding-right: 20px
}

.profile-image {
  height: 175px;
  line-height: 175px;
  text-align: center;
  font-size: 72px;
  margin-bottom: 10px;
  border: 2px solid var(--white-color);
  overflow: hidden;
  border-radius: 4px
}

.profile-image img {
  display: block;
  max-width: 100%
}

.profile-highlight {
  padding: 12px 15px;
  background: var(--white-color);
  border-radius: 4px
}

.profile-highlight h4 {
  margin: 0 0 7px;
  font-size: 12px;
  font-weight: 700
}

/* Hero page */
#hero {
  margin-top: 8rem;
}
.hero-text {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-text h2 {
  line-height: 1.5;
  width: 22ch;
}
.hero-text p {
  width: 35ch;
  color: var(--primary-color);
}
.hero-img {
  width: 100%;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .icon {
  font-size: var(--fs-600);
}
.about .description {
  line-height: 2;
}
.about .description h4 {
  text-align: center;
  font-size: var(--fs-300);
  line-height: 1.5;
}
.about .description p {
  text-align: justify;
}
/* New about section design */
.about-card {
  min-height: 300px;
  padding: 10px;
  margin: 2rem auto;
  box-shadow: none;
  background: transparent;
}
/* media styling */
@media (width >= 768px) {
  .about .col-lg-3:nth-child(even) {
    margin-top: 3rem !important;
  }
}
/* media styling */
.about-card .card-img-top-icon {
  margin: 2rem auto;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: #102d35;
  display: grid;
  place-content: center;
}
.stack .about-card {
  min-height: 150px;
}
.about-card .card-img-top-icon img {
  width: 100%;
  height: 100%;
}
.stack .about-card .card-img-top-icon {
  padding: 2px;
  background: transparent !important;
  border: 1px solid var(--line-color);
}
.about-card .card-header {
  border-bottom: 1px solid #102d35;
}
.about-card .card-header h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
}
.about-card .card-img-top-icon i {
  font-size: 2rem;
  color: var(--white-color);
}
.about-card .card-content {
  padding: 1rem 0;
}
.why-us .image-box {
  width: 100%;
}
.why-us .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.why-us-row {
  margin-top: 8rem;
}
.why-us-row .card {
  padding: 2rem 1rem;
  line-height: 2;
  max-width: 340px;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: transparent;
  transition: .2ms linear, .2s linear;
  cursor: pointer;
  border: 1px solid #102d35 !important;
}
.why-us-row .card h3 {
  font-size: 1.2rem;
}
.why-us-row .card p {
  color: var(--secondary-color);
}
.why-us-row .card:hover {
  transform: scale(1.01);
}
.why-us-row .col-lg-4:nth-child(2) {
  margin-top: -5rem !important;
}
/* Animation CSS */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.element:nth-child(2) {
  transition-delay: 200ms;
}
.item:nth-child(2) {
  transition-delay: 400ms;
}
.item:nth-child(3) {
  transition-delay: 600ms;
}
.item:nth-child(4) {
  transition-delay: 800ms;
}
.item:nth-child(5) {
  transition-delay: 1000ms;
}
.item:nth-child(6) {
  transition-delay: 1200ms;
}
.item:nth-child(7) {
  transition-delay: 1400ms;
}
.item:nth-child(8) {
  transition-delay: 1600ms;
}
.item:nth-child(9) {
  transition-delay: 1800ms;
}
.item:nth-child(10) {
  transition-delay: 2000ms;
}
.item:nth-child(11) {
  transition-delay: 2200ms;
}
.item:nth-child(12) {
  transition-delay: 2400ms;
}
.projects-card {
  width: 100%;
  height: 360px;
  max-width: 520px;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  margin: 1rem auto;
  position: relative;
  border: 1px solid #102d35 !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background: transparent;
}
.projects-card .card-img-top {
  width: 100%;
  height: 280px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.projects-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects-card .card-content a span {
  font-size: 22px;
}
/* footer */
footer {
  padding: 3em 0;
  background: #21364c;
}
.footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}
.footer-social li a img {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--white-color);
}
.footer-social li a:hover {
  color: var(--white-color); }

.footer a {
  color: var(--tertiary-color);
}
.footer p {
  color: #FFFFFF4C;
}
.footer .footer-heading {
  font-size: 30px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 30px;
}
.footer .footer-heading .logo {
  color: var(--white-color);
}
.footer .menu {
  margin-bottom: 30px;
}
.footer .menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer .footer-social li a {
  background: transparent;
  border: 1px solid var(--neutral-color);
}

/* Read more / Less */
p.extra {
  display: none !important;
}
.description p {
  display: inline;
}
.description input[type="checkbox"] {
  height: 2em;
  display: inline-block;
  appearance: none;
}
.description label {
  position: relative;
  padding: 1em .4em;
  background-color: transparent;
  color: var(--secondary-color);
  cursor: pointer;
}
.description label:hover {
  color: var(--tertiary-color);
}
.description label:before {
  content: 'Read more';
}
.description input[type="checkbox"]:checked ~ label:before {
  content: 'Read less';
}
.description .dots:has(~ input[type="checkbox"]:checked) {
  display: none;
}
.description p.extra:has(~ input[type="checkbox"]:checked) {
  display: inline !important;
}

/* Contact */
section.contact {
  border-top: 1px solid var(--line-color);
  width: 70%;
  margin: 0 auto;
}
.contact ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
li a.contact-link {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  background: rgba(0, 0, 0, 0.09);
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--secondary-color) !important;
}
li a.contact-link i {
  font-size: var(--fs-300);
}
.contact ul li {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (width <= 1200px) {
  .why-us-row .col-lg-4:nth-child(2) {
    margin-top: 0 !important;
  }
  .footer .menu a {
    font-size: 11px !important;
  }
}


/* blob */
.square {
  position: relative;
  margin: 0 10px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--line-color);
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
}
.blob:hover span:nth-child(1) {
  border: none;
  background: var(--second-color);
}
.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--line-color);
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.blob:hover span:nth-child(2) {
  border: none;
  background: var(--second-color);
}
.square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--line-color);
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
}
.blob:hover span:nth-child(3) {
  border: none;
  background: var(--second-color);
}
.blob-content {
  position: relative;
  padding: 40px 60px;
  color: var(--third-color);
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}
.blob-content h2 {
  color: var(--primary-color);
}
.blob-content:hover h2,
.blob-content:hover p {
  color: #4e84c0;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* End blob styling */

/* 404 Page */
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url('assets/images/emoji.png');
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
  -ms-transform: scale(2.4);
  transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}

.notfound h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  color: #151723;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #151723;
}

.notfound p {
  font-family: 'Nunito', sans-serif;
  color: #999fa5;
  font-weight: 400;
}

.notfound a {
  font-family: 'Nunito', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  color: #388dbc;
}
.message-box {
  height: 100svh;
  width: 100%;
  display: grid;
  place-content: center;
}
@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}
