<section id="hero" class="hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text element hidden py-4">
          <h2>Elevate your web presence with stunning design and seamless functionality. Welcome!</h2>
          <p class="my-3">"Transforming your ideas into a stunning reality. Let's build a website that truly represents you. Contact us today."</p>

          <div class="buttons element hidden my-3">
            <button class="cta btn py-2 px-4 me-2">Learn more</button>
            <button class="cta btn py-2 px-4">Contact</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
       <div class="hero-img element hidden py-4">
         <img [src]="'assets/images/hero.png'" alt="hero image">
       </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden about py-5">
  <div class="container">
    <div class="col-md-8 mx-auto">
      <h3 class="text-center">What we do</h3>
      <h4 class="text-center">These are our main areas of expertise</h4>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 my-2 item hidden">
        <div class="icon text-center">
          <i class="bi bi-globe"></i>
        </div>
        <div class="description">
          <h4>Web Development</h4>
          <p>Your website is the virtual storefront of your business. It is essential to have
            a well-designed and user-friendly website that reflects your brand's identity and
            values. Our team of experienced web developers will work closely with you to create
            a customized website that is visually appealing, functional, and optimized for a seamless
            user experience. We use the latest technologies and best practices to ensure that your
            website is mobile-friendly, fast-loading, and responsive across all devices.</p>
        </div>
      </div>
      <div class="col-md-4 my-2 item hidden">
        <div class="icon text-center">
          <i class="bi bi-search"></i>
        </div>
        <div class="description">
          <h4>SEO</h4>
          <p>Having a well-designed website is only the first step. Getting your website
            to appear on the first page of search engine results is crucial for driving
            organic traffic and generating leads. Our team of SEO experts will conduct
            extensive keyword research, optimize your website's content, and implement
            proven strategies to improve your website's search engine rankings. By
            leveraging our SEO services, you can significantly enhance your online
            visibility and attract your target audience.</p>
        </div>
      </div>
      <div class="col-md-4 my-2 item hidden">
        <div class="icon text-center">
          <i class="bi bi-headset"></i>
        </div>
        <div class="description">
          <h4>Digital Marketing</h4>
          <p>In today's digital age, social media platforms have become powerful marketing tools.
            With billions of users, platforms like Facebook, Instagram, and Twitter offer immense
            potential for businesses to engage and connect with their audience. Our social media
            marketing services include creating compelling content, managing social media accounts,
            running targeted ad campaigns, and analyzing campaign performance. By leveraging the
            power of social media, we will help you build brand awareness, engage with customers,
            and drive valuable traffic to your website.
          </p>
          <span class="dots">...</span>

          <p class="extra">At our company, we understand that every business has unique goals and requirements.
            That's why we offer personalized solutions to ensure that our services align with your objectives.
            Whether you need a brand-new website, want to improve your search engine rankings, or need assistance
            in social media marketing, we have the expertise and experience to deliver outstanding results.
            <br>
            Don't miss out on the opportunity to enhance your online presence and take your business to new heights.
              Contact us today to learn more about our services and how we can help you achieve your digital marketing goals.</p>

          <input type="checkbox" id="btn">
          <label for="btn"></label>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden why-us py-5">
  <div class="container">
      <div class="my-4 text-center">
        <h3>Why work with us?</h3>
      </div>

        <div class="col-lg-6 mx-auto element hidden">
          <div class="image-box">
            <img src="assets/images/question.png" alt="">
          </div>
        </div>
      <div class="row why-us-row">
        <div class="col-lg-4 item hidden">
          <div class="card">
            <h3 class="text-center">Affordable</h3>
            <p>At our tech start-up, we understand that cost is often a significant concern for our clients.
              That's why we strive to provide affordable solutions that don't compromise on quality.
              Our team works diligently to develop innovative technologies and services that are accessible
              to businesses of all sizes, regardless of their budget constraints. We are committed to offering
              competitive pricing without compromising on the value or effectiveness of our solutions.</p>
          </div>
        </div>
        <div class="col-lg-4 item hidden">
          <div class="card ">
            <h3 class="text-center">Support</h3>
            <p>Building trust with our clients is a top priority for our tech start-up.
              We understand that implementing new technologies or navigating complex technical
              issues can be daunting. That's why we provide exceptional support to our clients
              throughout their journey with us. Our dedicated support team is available to
              answer any questions, address concerns, and provide timely assistance whenever
              needed. We believe in building long-lasting partnerships with our clients, and
              our support is an integral part of that commitment.</p>
          </div>
        </div>
        <div class="col-lg-4 item hidden">
          <div class="card">
            <h3 class="text-center">Accessibility</h3>
            <p>We are a team of passionate tech enthusiasts who genuinely care about the success of our clients.
              Our passion drives us to continuously learn and stay up-to-date with the latest trends and advancements
              in the tech industry. We believe in the power of technology to transform businesses and improve lives.
              This enthusiasm translates into the work we do for our clients, ensuring that we deliver solutions
              that are innovative, efficient, and tailored to their specific needs.</p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="projects py-5">
  <div class="container">
    <h3 class="text-center mb-5">Recent Projects</h3>

    <div class="row">
      <div class="col-md-3 item hidden">
        <a [routerLink]="''" class="card projects-card">
          <img src="assets/images/chicken.png" alt="">
        </a>
      </div>
      <div class="col-md-3 item hidden">
        <a [routerLink]="''" class="card projects-card">
          <img src="assets/images/property.png" alt="">
        </a>
      </div>
      <div class="col-md-3 item hidden">
        <a [routerLink]="''" class="card projects-card">
          <img src="assets/images/property.png" alt="">
        </a>
      </div>
      <div class="col-md-3 item hidden">
        <div class="card projects-card">
          <img src="assets/images/chicken.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden contact py-5">
  <div class="container">
    <h3 class="text-center">Get in touch with us</h3>
    <h5 class="text-center">We would love to hear from you, whether for a job offer, questions or suggestions</h5>

    <div class="col-lg-8 mx-auto my-5">
      <div class="row">
        <div class="col-lg-6 my-2 item hidden">
          <h4>Reach us with any of the bellow:</h4>
          <ul class="m-0 p-0">
            <li class="m-0 px-0 py-2">
              <a href="#" target="_blank" class="contact-link">
                <i class="bi bi-envelope"></i>
              </a>
              <span>info@selvigtech.com</span>
            </li>
            <li class="m-0 px-0 py-2">
              <a href="#" target="_blank" class="contact-link">
                <i class="bi bi-twitter"></i>
              </a>
              <span>@dave_budah</span>
            </li>
            <li class="m-0 px-0 py-2">
              <a href="#" target="_blank" class="contact-link">
                <i class="bi bi-linkedin"></i>
              </a>
              <span>Dave Budah</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 my-2 item hidden">
          <h4>Leave a message:</h4>

          <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input type="text" formControlName="subject" class="form-control" id="subject" placeholder="Subject">
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" formControlName="message" id="message" rows="3"></textarea>
            </div>
            <div class="my-2">
              <button class="btn px-4 py-2">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
