<section id="hero" class="hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text element hidden py-4">
          <h2>Elevate your web presence with stunning design and seamless functionality. Welcome!</h2>
          <p class="my-3">"Transforming your ideas into a stunning reality. Let's build a website that truly represents you. Get in touch today."</p>

          <div class="buttons element hidden my-3">
            <a class="cta btn py-2 px-4 me-2" href="#about">Learn more</a>
            <a class="cta btn py-2 px-4" href="#contact">Contact</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="square blob mx-auto">
          <span></span>
          <span></span>
          <span></span>
          <div class="blob-content">
            <h2>
              Imagine it...
            </h2>
            <p>...and I create it for you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden about py-5" id="about">
  <div class="container">
    <div class="col-md-8 mx-auto">
      <h3 class="text-center">What I can do</h3>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
              <div class="card-img-top-icon">
                <i class="bi bi-globe"></i>
              </div>
            <div class="card-header bg-transparent">
              <h3>Web Development</h3>
            </div>
            <div class="card-content">
              <p>Designing and developing websites of any size for my clients</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <i class="bi bi-search"></i>
            </div>
            <div class="card-header bg-transparent">
              <h3>SEO</h3>
            </div>
            <div class="card-content">
              <p>Optimization of websites to show on top results of search engines
              organically.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <i class="bi bi-gear-wide-connected"></i>
            </div>
            <div class="card-header bg-transparent">
              <h3>Maintenance</h3>
            </div>
            <div class="card-content">
              <p>Maintenance for websites I create or existing ones.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <i class="bi bi-headset"></i>
            </div>
            <div class="card-header bg-transparent">
              <h3>Digital Marketing</h3>
            </div>
            <div class="card-content">
              <p>I can help your brand gain a broader audience through digital marketing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="hidden why-us py-5">
  <div class="container">
      <div class="my-4 text-center">
        <h3>Why work with me?</h3>
      </div>

      <div class="row why-us-row">
        <div class="col-lg-4 item hidden">
          <div class="card">
            <h3 class="text-center">Affordable</h3>
            <p>I understand that cost is often a significant concern for my clients.
              That's why I strive to provide affordable solutions that don't compromise on quality.
              I diligently to develop innovative technologies and services that are accessible
              to businesses of all sizes, regardless of their budget constraints. I am committed to offering
              competitive pricing without compromising on the value or effectiveness of my solutions.</p>
          </div>
        </div>
        <div class="col-lg-4 item hidden">
          <div class="card ">
            <h3 class="text-center">Support</h3>
            <p>Building trust with my clients is a top priority.
              I understand that implementing new technologies or navigating complex technical
              issues can be daunting. That's why I provide exceptional support to my clients
              throughout their journey with me. I am available to
              answer any questions, address concerns, and provide timely assistance whenever
              needed.</p>
          </div>
        </div>
        <div class="col-lg-4 item hidden">
          <div class="card">
            <h3 class="text-center">Passion</h3>
            <p>I am passionate tech enthusiast who genuinely cares about the success of my clients.
              My passion drives me to continuously learn and stay up-to-date with the latest trends and advancements
              in the tech industry. This enthusiasm translates into the work I do for my clients, ensuring that I deliver solutions
              that are innovative, efficient, and tailored to their specific needs.</p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="hidden stack py-5" id="stack">
  <div class="container">
    <div class="col-md-8 mx-auto">
      <h3 class="text-center">My Stack</h3>
    </div>
    <div class="row mt-5">
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/java.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>JAVA</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/kotlin.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>KOTLIN</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/c.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>C#</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/js.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>JAVASCRIPT</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/typescript-def.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>TYPESCRIPT</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/php.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>PHP</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/sql.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>SQL</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/postgresql.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>POSTGRES</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="../../assets/images/logos/spring.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>SPRING BOOT</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/angular.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>ANGULAR</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/nest.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>NEST JS</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <img src="assets/images/logos/laravel.png" alt="">
            </div>
            <div class="card-header bg-transparent">
              <h3>LARAVEL</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Projects Section -->
<pr-feed [apiUrl]="apiUrl"></pr-feed>


<section class="hidden contact py-5" id="contact">
  <div class="container">
    <h3 class="text-center">Get in touch with me</h3>
    <h5 class="text-center">I would love to hear from you, whether for a job offer, questions or suggestions</h5>

    <div class="col-lg-8 mx-auto my-5">
      <div class="row">
        <div class="col-lg-6 my-2 mx-auto item hidden">
          <ul class="m-0 p-0">
            <li class="m-0 px-0 py-2  item hidden">
              <a href="mailto:info@selvigtech.com" target="_blank" class="contact-link">
                <i class="bi bi-envelope"></i>
              </a>
            </li>
            <li class="m-0 px-0 py-2  item hidden">
              <a href="https://twitter.com/dave_budah" target="_blank" class="contact-link">
                <i class="bi bi-twitter-x"></i>
              </a>
            </li>
            <li class="m-0 px-0 py-2  item hidden">
              <a href="https://www.linkedin.com/in/dave-budah/" target="_blank" class="contact-link">
                <i class="bi bi-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
