<section id="hero" class="hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text element hidden py-4">
          <h2>Elevate your web presence with stunning design and seamless functionality. Welcome!</h2>
          <p class="my-3">"Transforming your ideas into a stunning reality. Let's build a website that truly represents you. Get in touch today."</p>

          <div class="buttons element hidden my-3">
            <a class="cta btn py-2 px-4 me-2" href="#about">Learn more</a>
            <a class="cta btn py-2 px-4" href="#contact">Contact</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="square blob mx-auto">
          <span></span>
          <span></span>
          <span></span>
          <div class="blob-content">
            <h2>
              Imagine it...
            </h2>
            <p>...and I create it for you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden about py-5" id="about">
  <div class="container">
    <div class="col-md-8 mx-auto">
      <h3 class="text-center">What I can do</h3>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
              <div class="card-img-top-icon">
                <i class="bi bi-globe"></i>
              </div>
            <div class="card-header bg-transparent">
              <h3>Web Development</h3>
            </div>
            <div class="card-content">
              <p>Designing and developing websites of any size for my clients</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <i class="bi bi-search"></i>
            </div>
            <div class="card-header bg-transparent">
              <h3>SEO</h3>
            </div>
            <div class="card-content">
              <p>Optimization of websites to show on top results of search engines
              organically.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <i class="bi bi-gear-wide-connected"></i>
            </div>
            <div class="card-header bg-transparent">
              <h3>Maintenance</h3>
            </div>
            <div class="card-content">
              <p>Maintenance for websites I create or existing ones.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 item hidden">
        <div class="about-card card">
          <div class="card-img-top">
            <div class="card-img-top-icon">
              <i class="bi bi-headset"></i>
            </div>
            <div class="card-header bg-transparent">
              <h3>Digital Marketing</h3>
            </div>
            <div class="card-content">
              <p>I can help your brand gain a broader audience through digital marketing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="hidden why-us py-5">
  <div class="container">
      <div class="my-4 text-center">
        <h3>Why work with me?</h3>
      </div>

      <div class="row why-us-row">
        <div class="col-lg-4 item hidden">
          <div class="card">
            <h3 class="text-center">Affordable</h3>
            <p>I understand that cost is often a significant concern for my clients.
              That's why I strive to provide affordable solutions that don't compromise on quality.
              I diligently to develop innovative technologies and services that are accessible
              to businesses of all sizes, regardless of their budget constraints. I am committed to offering
              competitive pricing without compromising on the value or effectiveness of my solutions.</p>
          </div>
        </div>
        <div class="col-lg-4 item hidden">
          <div class="card ">
            <h3 class="text-center">Support</h3>
            <p>Building trust with my clients is a top priority.
              I understand that implementing new technologies or navigating complex technical
              issues can be daunting. That's why I provide exceptional support to my clients
              throughout their journey with me. I am available to
              answer any questions, address concerns, and provide timely assistance whenever
              needed.</p>
          </div>
        </div>
        <div class="col-lg-4 item hidden">
          <div class="card">
            <h3 class="text-center">Passion</h3>
            <p>I am passionate tech enthusiast who genuinely cares about the success of my clients.
              My passion drives me to continuously learn and stay up-to-date with the latest trends and advancements
              in the tech industry. This enthusiasm translates into the work I do for my clients, ensuring that I deliver solutions
              that are innovative, efficient, and tailored to their specific needs.</p>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="projects py-5" id="projects">
  <div class="container">
    <h3 class="text-center mb-5">Recent Projects</h3>

    <div class="row">
      <div class="col-md-6 item hidden">
        <div class="card projects-card">
          <div class="card-img-top">
            <img src="assets/images/a.jpg" alt="">
          </div>
          <div class="card-content pt-2">
            <h4>Lorem ipsum doret</h4>
            <a [routerLink]="''" title="Visit site"><span class="bi bi-globe"></span></a>
            <a [routerLink]="''" title="Github"><span class="bi bi-github ms-2"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 item hidden">
        <div class="card projects-card">
          <div class="card-img-top">
          <img src="assets/images/b.jpg" alt="">
          </div>
          <div class="card-content pt-2">
            <h4>Lorem ipsum doret</h4>
            <a [routerLink]="''" title="Visit site"><span class="bi bi-globe"></span></a>
            <a [routerLink]="''" title="Github"><span class="bi bi-github ms-2"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 item hidden">
        <div class="card projects-card">
          <div class="card-img-top">
          <img src="assets/images/c.jpg" alt="">
          </div>
          <div class="card-content pt-2">
            <h4>Lorem ipsum doret</h4>
            <a [routerLink]="''" title="Visit site"><span class="bi bi-globe"></span></a>
            <a [routerLink]="''" title="Github"><span class="bi bi-github ms-2"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 item hidden">
        <div class="card projects-card">
          <div class="card-img-top">
          <img src="assets/images/d.jpg" alt="">
          </div>
          <div class="card-content pt-2">
            <h4>Lorem ipsum doret</h4>
            <a [routerLink]="''" title="Visit site"><span class="bi bi-globe ms-2"></span></a>
            <a [routerLink]="''" title="Github"><span class="bi bi-github ms-2"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hidden contact py-5" id="contact">
  <div class="container">
    <h3 class="text-center">Get in touch with me</h3>
    <h5 class="text-center">I would love to hear from you, whether for a job offer, questions or suggestions</h5>

    <div class="col-lg-8 mx-auto my-5">
      <div class="row">
        <div class="col-lg-6 my-2 item hidden">
          <h4>Reach me with any of the bellow:</h4>
          <ul class="m-0 p-0">
            <li class="m-0 px-0 py-2">
              <a href="#" target="_blank" class="contact-link">
                <i class="bi bi-envelope"></i>
              </a>
              <span>info@selvigtech.com</span>
            </li>
            <li class="m-0 px-0 py-2">
              <a href="https://twitter.com/dave_budah" target="_blank" class="contact-link">
                <i class="bi bi-twitter-x"></i>
              </a>
              <span>Dave Budah</span>
            </li>
            <li class="m-0 px-0 py-2">
              <a href="https://www.linkedin.com/in/dave-budah/" target="_blank" class="contact-link">
                <i class="bi bi-linkedin"></i>
              </a>
              <span>Dave Budah</span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 my-2 item hidden">
          <h4>Leave a message:</h4>

          <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control bg-transparent" id="name" placeholder="Name" [ngClass]="{error : getControl('name')?.errors && getControl('name')?.touched}">
              <div *ngIf="getControl('name')?.errors && getControl('name')?.touched">
                <small class="errorMsg" *ngIf="getControl('name')?.errors?.['required']">Name is required</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control bg-transparent" id="email" placeholder="Email" [ngClass]="{error : getControl('email')?.errors && getControl('email')?.touched}">
              <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
                <small class="errorMsg" *ngIf="getControl('email')?.errors?.['required']">Email is required</small>
                <small class="text-danger" *ngIf="getControl('email')?.errors?.['maxlength']">Email should be maximum 32 characters long.</small>
                <small class="errorMsg" *ngIf="getControl('email')?.errors?.['pattern']">Please enter a valid email.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label">Subject</label>
              <input type="text" formControlName="subject" class="form-control bg-transparent" id="subject" placeholder="Subject" [ngClass]="{error : getControl('subject')?.errors && getControl('subject')?.touched}">
              <div *ngIf="getControl('subject')?.errors && getControl('subject')?.touched">
                <small class="errorMsg" *ngIf="getControl('subject')?.errors?.['required']">Subject is required</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control bg-transparent" formControlName="message" id="message" rows="3" [ngClass]="{error : getControl('message')?.errors && getControl('message')?.touched}"></textarea>
              <div *ngIf="getControl('message')?.errors && getControl('message')?.touched">
                <small class="text-danger" *ngIf="getControl('message')?.errors?.['minlength']">Message should beat at least 20 characters long.</small>
                <small class="errorMsg" *ngIf="getControl('message')?.errors?.['required']">Message is required</small>
              </div>
            </div>
            <div class="my-2">
              <button class="btn px-4 py-2" type="submit" [disabled]="contactForm.status === 'INVALID'">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
