<ng-container *ngIf="data$ | async as data">
  <div class="container">
    <div class="col-md-10 mx-auto" *ngIf="currentUser">
      <errormsg *ngIf="data.backendErrors" [backendErrors]="data.backendErrors"></errormsg>
      <div class="banner">
        <div class="user-info col-md-6 mx-auto text-center">
          <div class="row">
            <div class="col-6">
              <div class="avatar">
                <img src="assets/images/avatar.png" alt="avatar">
              </div>
            </div>
            <div class="col-6">
              <div class="action-btns pt-2">
                <button class="follow-btn px-3 px-lg-5 py-2 mx-1">Follow</button>
                <button class="follow-btn bg-danger px-3 px-lg-5 py-2 mx-1" (click)="logout()">Logout</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 mx-auto my-5">
        <form class="profile-form" [formGroup]="form" (ngSubmit)="submit()">
          <div class="mb-3">
            <label for="avatar" class="form-label">Profile Picture</label>
            <input type="text" class="form-control" formControlName="image" id="avatar" placeholder="Profile picture url">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username" id="username" placeholder="Username">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email">
          </div>
          <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea class="form-control" formControlName="bio" id="bio" rows="3" placeholder="Your short biography"></textarea>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
          </div>

          <button class="btn px-4" [disabled]="form.invalid || data.isSubmitting">Update</button>
        </form>
      </div>
    </div>
  </div>
</ng-container>
